NODE_ENV=development
PORT=3000

# Database Configuration
DB_NAME=inventory_db
DB_USER=stavan
DB_PASSWORD=
DB_HOST=/home/stavan/Documents/learning/Inventory Management - AI/.pgsocket
DB_PORT=5432
DB_LOGGING=false
DB_POOL_MAX=20
DB_POOL_MIN=5
DB_POOL_ACQUIRE=30000
DB_POOL_IDLE=10000
